{% load cms_tags menu_tags sekizai_tags pipeline %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    {% stylesheet 'vendor' %}
    {% render_block "css" %}
    <style type="text/css">
      .nav {
        padding-left: 0;
      }
      .nav li {
        display: inline;
        list-style-type: none;
        padding-right: 20px;
      }
    </style>
  </head>
  <body>
    {% cms_toolbar %}
    <div style="width: 940px; margin:0 auto">
      <ul class="nav">
        {% show_menu 0 100 100 100 %}
      </ul>
      {% block content %}
      {% endblock content %}
    </div>
    {% javascript 'vendor' %}
    {% render_block "js" %}
  </body>
</html>
