{% extends "base.html" %}
{% load cms_tags sekizai_tags staticfiles %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block content %}

  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"
           style="background:url({% static 'maloof_lab_site/carousel/img/Arabi_SAS_setE029-cropped-3.100px.png' %});
                  background-size:contain;
                  background-color:black">
        <h1 class="text-center shadow-heavy"
            style="color: #FFF0F5; /* http://en.wikipedia.org/wiki/Shades_of_white */">
          Welcome to the Maloof Lab!
        </h1>
      </div><!-- /.panel-heading -->

      <div id="carousel-home" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-home" data-slide-to="1"></li>
          <li data-target="#carousel-home" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div style="background:url({% static 'maloof_lab_site/carousel/img/F1.large.jpg' %}) center center;
                        background-size:cover;" class="slider-size">
              <div class="carousel-caption container-fluid">
                <h4>Polymorphism Identification and Improved Genome Annotation of Brassica rapa Through Deep RNA Sequencing</h4>
                <h5>Devisetty et al., G3 (2014)</h5>

                <!-- buttons -->
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal-0"><span class="glyphicon glyphicon-info-sign"></span> more info</button>
                <div class="btn-group btn-group-sm hidden-xs" role="group" aria-label="...">
                  <a href="http://www.ncbi.nlm.nih.gov/pubmed/25122667" class="btn btn-primary" target="_blank">PubMed</a>
                  <a href="http://www.g3journal.org/content/4/11/2065.long" class="btn btn-success" target="_blank">G3</a>
                  <a href="{% static 'maloof_lab_site/carousel/pdf/2065.full.pdf' %}" class="btn btn-warning" target="_blank">PDF</a>
                </div>

                <p></p>
              </div><!-- /.carousel-caption -->
            </div><!-- /.slider-size -->
          </div><!-- /.item -->

          <div class="item">
            <div style="background:url({% static 'maloof_lab_site/carousel/img/pc_112391_f2.jpg' %}) center center;
                        background-size:cover;" class="slider-size">
              <div class="carousel-caption container-fluid">
                <h4>A Quantitative Genetic Basis for Leaf Morphology in a Set of Precisely Defined Tomato Introgression Lines</h4>
                <h5>Chitwood et al., Plant Cell (2013)</h5>

                <!-- buttons -->
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal-1"><span class="glyphicon glyphicon-info-sign"></span> more info</button>
                <div class="btn-group btn-group-sm hidden-xs" role="group" aria-label="...">
                  <a href="http://www.ncbi.nlm.nih.gov/pubmed/23872539" class="btn btn-primary" target="_blank">PubMed</a>
                  <a href="http://www.plantcell.org/content/25/7/2465.long" class="btn btn-success" target="_blank">Plant Cell</a>
                  <a href="{% static 'maloof_lab_site/carousel/pdf/Plant Cell-2013-Chitwood-2465-81.pdf' %}" class="btn btn-warning" target="_blank">PDF</a>
                </div>

                <p></p>
              </div><!-- /.carousel-caption -->
            </div><!-- /.slider-size -->
          </div><!-- /.item -->

          <div class="item">
            <div style="background:url({% static 'maloof_lab_site/carousel/img/gb-2008-9-8-r130-4-l.jpg' %}) center center;
                        background-size:cover;" class="slider-size">
              <div class="carousel-caption container-fluid">
                <h4>Global transcriptome analysis reveals circadian regulation of key pathways in plant growth and development</h4>
                <h5>Covington et al., Genome Biol. (2008)</h5>

                <!-- buttons -->
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal-2"><span class="glyphicon glyphicon-info-sign"></span> more info</button>
                <div class="btn-group btn-group-sm hidden-xs" role="group" aria-label="...">
                  <a href="http://www.ncbi.nlm.nih.gov/pubmed/18710561" class="btn btn-primary" target="_blank">PubMed</a>
                  <a href="http://genomebiology.com/2008/9/8/R130" class="btn btn-success" target="_blank">Genome Biology</a>
                  <a href="{% static 'maloof_lab_site/carousel/pdf/gb-2008-9-8-r130.pdf' %}" class="btn btn-warning" target="_blank">PDF</a>
                </div>

                <p></p>
              </div><!-- /.carousel-caption -->
            </div><!-- /.slider-size -->
          </div><!-- /.item -->

        </div><!-- /.carousel-inner -->

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div><!-- /#carousel-home -->

      <div class="panel-footer"
           style="background:url({% static 'maloof_lab_site/carousel/img/Research_fig_3.jpg' %});
                  background-size:contain;
                  background-color:black">
        <h1>&nbsp;</h1>
      </div><!-- /.panel-footer -->
    </div><!-- /.panel -->
  <!-- </div> --><!-- /.container -->
  </div><!-- /.container -->

  <!-- Modal -->
  <div class="modal fade" id="myModal-0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <!-- <div class="modal-dialog modal-lg"> -->
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Polymorphism Identification and Improved Genome Annotation of Brassica rapa Through Deep RNA Sequencing</h4>
        </div><!-- /.modal-header -->

        <div class="modal-body">
          <div class="container-fluid">
            <p>In this amazing ground-breaking paper, we showed that vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue.</p>
          </div><!-- /.container-fluid -->
        </div><!-- /.modal-body -->

        <div class="modal-footer hidden-xs">
          <div class="btn-group" role="group" aria-label="...">
            <a href="http://www.ncbi.nlm.nih.gov/pubmed/25122667" class="btn btn-primary" target="_blank">PubMed</a>
            <a href="http://www.g3journal.org/content/4/11/2065.long" class="btn btn-success" target="_blank">G3</a>
            <a href="{% static 'maloof_lab_site/carousel/pdf/2065.full.pdf' %}" class="btn btn-warning" target="_blank">PDF</a>
          </div>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-footer hidden-xs -->

        <div class="modal-footer visible-xs">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="btn-group-vertical col-xs-12" role="group" aria-label="...">
                <a href="http://www.ncbi.nlm.nih.gov/pubmed/25122667" class="btn btn-primary" target="_blank">PubMed</a>
                <a href="http://www.g3journal.org/content/4/11/2065.long" class="btn btn-success" target="_blank">G3</a>
                <a href="{% static 'maloof_lab_site/carousel/pdf/2065.full.pdf' %}" class="btn btn-warning" target="_blank">PDF</a>
              </div>
              <div class="btn-group-vertical col-xs-12" role="group" aria-label="...">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div><!-- /.modal-footer visible-xs -->

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /#myModal-0 -->

  <!-- Modal -->
  <div class="modal fade" id="myModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <!-- <div class="modal-dialog modal-lg"> -->
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">A Quantitative Genetic Basis for Leaf Morphology in a Set of Precisely Defined Tomato Introgression Lines</h4>
        </div><!-- /.modal-header -->

        <div class="modal-body">
          <div class="container-fluid">
            <p>In this amazing ground-breaking paper, we showed that vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue.</p>
          </div><!-- /.container-fluid -->
        </div><!-- /.modal-body -->

        <div class="modal-footer hidden-xs">
          <div class="btn-group" role="group" aria-label="...">
            <a href="http://www.ncbi.nlm.nih.gov/pubmed/23872539" class="btn btn-primary" target="_blank">PubMed</a>
            <a href="http://www.plantcell.org/content/25/7/2465.long" class="btn btn-success" target="_blank">Plant Cell</a>
            <a href="{% static 'maloof_lab_site/carousel/pdf/Plant Cell-2013-Chitwood-2465-81.pdf' %}" class="btn btn-warning" target="_blank">PDF</a>
          </div>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-footer hidden-xs -->

        <div class="modal-footer visible-xs">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="btn-group-vertical col-xs-12" role="group" aria-label="...">
                <a href="http://www.ncbi.nlm.nih.gov/pubmed/23872539" class="btn btn-primary" target="_blank">PubMed</a>
                <a href="http://www.plantcell.org/content/25/7/2465.long" class="btn btn-success" target="_blank">Plant Cell</a>
                <a href="{% static 'maloof_lab_site/carousel/pdf/Plant Cell-2013-Chitwood-2465-81.pdf' %}" class="btn btn-warning" target="_blank">PDF</a>
              </div>
              <div class="btn-group-vertical col-xs-12" role="group" aria-label="...">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div><!-- /.modal-footer visible-xs -->

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /#myModal-1 -->

  <!-- Modal -->
  <div class="modal fade" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <!-- <div class="modal-dialog modal-lg"> -->
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Global transcriptome analysis reveals circadian regulation of key pathways in plant growth and development</h4>
        </div><!-- /.modal-header -->

        <div class="modal-body">
          <div class="container-fluid">
            <p>In this amazing ground-breaking paper, we showed that vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue.</p>
          </div><!-- /.container-fluid -->
        </div><!-- /.modal-body -->

        <div class="modal-footer hidden-xs">
          <div class="btn-group" role="group" aria-label="...">
            <a href="http://www.ncbi.nlm.nih.gov/pubmed/18710561" class="btn btn-primary" target="_blank">PubMed</a>
            <a href="http://genomebiology.com/2008/9/8/R130" class="btn btn-success" target="_blank">Genome Biology</a>
            <a href="{% static 'maloof_lab_site/carousel/pdf/gb-2008-9-8-r130.pdf' %}" class="btn btn-warning" target="_blank">PDF</a>
          </div>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-footer hidden-xs -->

        <div class="modal-footer visible-xs">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="btn-group-vertical col-xs-12" role="group" aria-label="...">
                <a href="http://www.ncbi.nlm.nih.gov/pubmed/18710561" class="btn btn-primary" target="_blank">PubMed</a>
                <a href="http://genomebiology.com/2008/9/8/R130" class="btn btn-success" target="_blank">Genome Biology</a>
                <a href="{% static 'maloof_lab_site/carousel/pdf/gb-2008-9-8-r130.pdf' %}" class="btn btn-warning" target="_blank">PDF</a>
              </div>
              <div class="btn-group-vertical col-xs-12" role="group" aria-label="...">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div><!-- /.modal-footer visible-xs -->

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /#myModal-2 -->

  <!-- <div class="container"> -->
    <div class="row">
      <div class="col-sm-8 col-sm-push-4 col-md-9 col-md-push-3">
        <h1>{% placeholder "content-header" %}</h1>
        {% placeholder "content" %}
      </div>
      <div class="col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9">
        <h3>{% placeholder "sidebar-header" %}</h3>
        {% placeholder "sidebar" %}
      </div>
    </div><!-- /.row -->
  <!-- </div> --><!-- /.container -->

{% endblock content %}
