<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
    <ul class="dropdown-menu" role="menu">
      {% if user.is_authenticated %}

        <li role="presentation" class="dropdown-header">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          {% if user.first_name %}
            {{ user.first_name }} {{ user.last_name }}
          {% else %}
            {% firstof user.email user.username "xxx" %}
          {% endif %}
        </li>
        <li class="divider"></li>

        {% if user.is_staff %}
          {% if request.toolbar.show_toolbar %}

            <li>
              <a href="{{ request.path }}?edit_off&amp;toolbar_off">
                Exit Edit Mode
              </a>
            </li>

          {% else %}

            <li>
              <a href="{{ request.path }}?edit">
                Edit Mode
              </a>
            </li>

          {% endif %}

          <li>
            <a href="{% url 'admin:index' %}" target="_blank">
              Site Admin
            </a>
          </li>

        {% endif %}

        {% if user.sysadmin %}
          <li>
            <a href="{% url 'system_maintenance:system_maintenance_home_view' %}">
              System Maintenance
            </a>
          </li>
        {% endif %}

        {% if user.has_usable_password %}
          <li>
            <a href="{% url 'admin:password_change' %}?next={{ request.path }}">
              Change Password
            </a>
          </li>
        {% endif %}

        {% if user.has_usable_password or user.is_staff %}
          <li class="divider"></li>
        {% endif %}

        <li>
          <a href="{% url 'admin:logout' %}?next={{ request.path }}">
            Log Out
          </a>
        </li>

      {% else %}

        <li>
          <a href="{% url 'admin:login' %}?next={{ request.path }}">
            Log In
          </a>
        </li>

      {% endif %}
    </ul>
  </li>
</ul>
